@charset "UTF-8";

div.login-box {
	width: 400px;
	margin: 15vh auto;
	box-sizing: border-box;
	border: 1px solid rgb(220, 220, 220);
	border-radius: 12px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div.login-box>header {
	width: 400px;
	text-align: center;
	padding: 31.5px 0;
}

div.login-box>header>span {
	font-weight: bold;
	color: blue;
	font-size: 28px;
	cursor: pointer;
}

form[name='loginForm']>input {
	display: block;
	width: 300px;
	box-sizing: border-box;
	height: 35px;
	caret-color: blue;
	outline: none;
	border-radius: 6px;
	border: 1px solid #ccc;
	padding: 0 10px;
	margin: auto;
	margin-bottom: 10px;
}

form[name='loginForm']>input[type='submit'] {
	margin: 20px auto;
	font-weight: bold;
	cursor: pointer;
}

form[name='loginForm']>input[type='submit']:hover {
	background-color: #ccc;
}

form[name='loginForm']>div {
	text-align: center;
	margin: 30px 0 31.5px 0;
}
/* login -----------------------------------*/